[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
checksumdir = "*"
aioboto3 = "*"
loguru = "*"
docker = "*"
gitpython = "*"
pydantic = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
